.login-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #279af1;
}


.login-card{
    display:flex;
    flex-direction: column;
    width:400px;
    height:325px;
    padding: 20px;
    gap:10px;
    border:2px solid #279af1;
    margin-top: 100px;
    border-radius: 5px;
    background-color: white;
}

.login-form{
    display: flex;;
    flex-direction: column;
    /* gap:20px; */
    justify-content: space-evenly;
    height: 100%;
}


.login-input{
    border:3px solid #070600;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

.login-input::placeholder{
    color: black;
}

.login-button{
    padding: 7px;
    border: none;
    background-color: #279af1;
    color:rgb(45, 45, 45);
    font-size: medium;
    border-radius: 5px;
    /* border:2px solid rgb(45, 45, 45); */
    cursor: pointer;
}
.login-button:hover{
    background-color:#23b5d3;
    color: rgb(45, 45, 45);
}

p{
    margin:0;
}


.login-error{
    position: absolute;
    top:10px;
    background-color: black;
    color: red;
    font-size: large;
    padding: 10px;
    border-radius: 5px;
}